{% extends 'main.html'%}
{%load static %}
{% block content %}

<div class="oops_container">

   <div class="oops_main">
      <div class="oops_main_container_1">
         <br>
         <h1>Network fundamentals</h1>
         <p>
            A network is a group of devices connected together, wirelessly or using cables, so that they can communicate
            with each other and share resources. Networks can be structured in different ways (called topologies), and
            may also be categorised as client–server or peer-to-peer networks. There are benefits and drawbacks to each
            approach.

            Network standards and protocols allow a wide range of devices from different manufacturers to communicate
            with each other. The speed at which a network operates is important to most users and you will learn about
            the factors that impact a network's performance. Network security is covered separately in the security
            topic.
         </p>
         <h3>Network basics</h3>
         <p>A network is a group of devices connected together so they can communicate with each other and share
            resources.

            Networks can vary hugely in terms of size and complexity. At one end of the scale, you create a network when
            you create a hotspot with your mobile phone, maybe to connect your laptop when you are away from home. At
            the other end of the scale is the internet, an ever expanding global network connecting many billions of
            devices.</p>
         <h4>Why people use networks</h4>

         <p>Networks have revolutionised our ability to communicate. There are many different communication systems, for
            example:</p>

         <ol>
            <li>text (sms) message</li>
            <li>email</li>
            <li>instant messaging</li>
            <li>internet telephony</li>
         </ol>
         <p>All of these system require networks. Most network communication systems allow you to attach files or links
            to files, which makes sharing information very easy. However, it also introduces security risks as files can
            be malicious and links may take you to rogue websites. <br>

            Organisations have computer networks to allow users to share resources. These can be physical resources such
            as printers or online resources such as files.</p>
         <h6>Shared network devices</h6>
         <p>Hardware can be expensive and it makes sense to share the cost between multiple users. Not everyone needs
            their own laser printer or high-capacity storage device.<br>

            When devices are shared, it is important that access is managed carefully. This is especially true of shared
            storage devices where, even though the device is shared, you almost certainly don't want everyone to have
            access to every file on the device.</p>

         <h6>Shared files</h6>
         <p>When files are put into a shared area, it is very important that you set appropriate access permissions. It
            is possible to restrict access at the drive, folder, or file level. You can read more about file access
            levels in the advanced level topic on file organisation and access.</p>
         <h6>Multi-user systems</h6>
         <p>Many organisations have systems that are accessed by multiple users. For example, in your school or college,
            most staff will be able to access the pupil attendance system. Many multi-user systems are database systems;
            database management systems allow a sophisticated range of access restrictions to be put in place to ensure
            that data is as secure as possible.</p>
         <h6>Central backup procedures</h6>
         <p>A network allows data to be backed up centrally so that users do not need to concern themselves with backup
            procedures, and the possibility of the organisation losing valuable data is reduced or even eliminated.
            Networks allow important systems to be mirrored so that there is always a duplicate system with a copy of
            the live data. This allows a system failover; when the system fails, operation will switch automatically to
            the backup system.</p>

         <h6>Centralised deployment of software and shared software</h6>
         <p>A network allows software and software updates to be rolled out from the centre, e.g. the IT department,
            which saves a lot of time compared to having to visit individual computer workstations. Important updates
            such as new virus detection measures and security patches can be applied immediately. Software can be
            downloaded from servers, removing the need to transfer it onto physical storage media. Site licences allow
            software to be shared across large numbers of users.<br>

            Networks also allow software to be used "in the cloud". As communication speeds improve, it is possible to
            use online software rather than having software installed locally on your computer system. This reduces the
            cost of software and also allows organisations to use less powerful workstations (saving costs) as the
            processing is done by the server.</p>
         <h4>Accessing a network</h4>
         <p>essing is done by the server.


            To access a network, you need a device with a network interface card. You will also need software that
            allows your device to communicate; this is usually built into your device's operating system. It is very
            rare today to have a device that is not already set up with the hardware and software required to allow you
            to join a network.<br>

            There are many different types of network and you may need to find out what information you need to access
            the one that you are interested in. For example, to access the internet, which is the largest network in the
            world, you often just need a Wi-Fi key (usually called the "Wi-Fi password") or access to the mobile phone
            network.<br>

            In the workplace, or at school or college, you will usually need to be set up with an account on the
            network. Most organisations have someone who is responsible for the network and large organisations will
            probably have an IT department. When an account is created, you will be given a userID and password. You
            will also be given access to shared resources such as shared network devices and network storage. If your
            role changes, you may find that your permissions also change. You may find that you have to sign a user
            agreement before you can access the network. This will specify the things that you must and must not do.

         </p>
         <h4>Managing networks</h4>
         <p>If you set up a network, there are many things to think about. For example:</p>
         <ol>
            <li>Will the network be wired or wireless?</li>
            <li>What topology (layout) will you use?</li>
            <li>Will you have a peer-to-peer or a client-server network?</li>
            <li>What security systems will need to be put in place?</li>
         </ol>
         <h4>Advantages and Disadvantages of networks</h4>
         <h6>Advantages</h6>
         <ol>
            <li>The ability to share expensive hardware devices between multiple users</li>
            <li>The ability to share files</li>
            <li>The ability to have multi-user systems</li>
            <li>The ability for the organisation to track what users are doing (this can of course be a disadvantage for
               the individual user)</li>
            <li>The ability to back up files centrally</li>
            <li>The ability to deploy and upgrade software centrally</li>
         </ol>
         <h6>Disadvantages</h6>
         <ol>
            <li>Extra hardware costs (cabling and connection devices)</li>
            <li>The cost of having to have employ someone to look after the network (depending on the size of the
               network)</li>
            <li>Greater security risks</li>
         </ol>
      </div>






   </div>


</div>


</div>

{% endblock content %}