{% extends 'main.html' %}
{% block content %}
{% load static%}

<body>
   <div class="about">
      <div class="about_intro">
         <p class="about_intro_1">Hello Coder, </p>
         <p class="about_intro_2"> Coding Grading is a part of a college Major Project ,Submitted to Mr.
            Pradeep Jha (HOD) at Global Institute of Technology,Jaipur. </p>
      </div>
      <div class="about_objective">
         <p> <b>Project Summary:</b> Coding Grading is a website which grades a coder on their ability on
            the knowledge of their coding skills by collecting data from the profile of the coder, from
            various coding platforms. As there are multiple coding platforms available on internet and
            all of them have their merits and demerits, Thus, these merits and demerits incites the user to
            work on multiple platforms.
            Coding Grading is a website that will collect user’s data from different coding
            platforms to grade him/her overall on their coding skills, DSA and competitive coding.
            Thus, Coding Grading will help you showcase your skills in a collective form. Other than
            that, Coding Grading will also provide best user interface and premium problems for free in
            order to overcome some demerits present in various coding platforms.</p>
      </div>

   </div>
</body>

{% endblock content%}