{% extends 'main.html' %}
{% block content %}
{% load static%}

<body>
   <div class="about">
      <!-- <h1>hello</h1> -->
      <div class="about">
         <div class="about_intro">
            <h1 style="color: grey
            ;">About </h1>
            <p class="about_intro_1">Welcome to Coding Grading, a revolutionary platform for coders to showcase their
               skills and experience in one place. We understand that in today's fast-paced and competitive world,
               coders need a platform that helps them stand out from the crowd. That's why we built Coding Grading - a
               website that collects data from different coding platforms to grade coders based on their performance
               across various skills, including coding, DSA, and competitive coding. Our platform offers the best user
               interface and premium problems for free to overcome some of the drawbacks present in other coding
               platforms. With Coding Grading, coders can keep track of their overall performance in a mannered and
               graphical way for better understanding.
            </p>
            <p class="about_intro_1">
               Our main objective is to benefit both coders and companies. For coders, we provide an easy and efficient
               way to showcase their skills to potential employers. By making an account on Coding Grading, coders can
               keep track of their overall performance and track their progress over time. For companies, we offer a
               comprehensive platform that allows them to check a candidate's skill set from a single platform, saving
               valuable time in the hiring process. With Coding Grading, companies can easily filter and shortlist
               candidates based on their skill level, making the hiring process more efficient and effective. So whether
               you're a coder looking to showcase your skills or a company looking for top talent, Coding Grading has
               got you covered. Join our platform today and take the first step towards achieving your goals!</p>

         </div>


      </div>


      <div class="about_dev">

         <div class="dev_card">
            <div class="dev_img">
               <img src="{% static 'images/dummy_profile.jfif' %}" alt="image">
            </div>
            <div class="dev_name">
               <p class="dev_full_name">Goodwill Kumawat</p>
            </div>

            <div class="moreinfo_dev " id="rem_hide1">
               <h5>Email: 19EGJCS089@gitjaipur.com</h5>
            </div>
         </div>
         <div class="dev_card">
            <div class="dev_img">
               <img src="{% static 'images/dummy_profile.jfif' %}" alt="image">
            </div>
            <div class="dev_name">
               <p class="dev_full_name">Harjeet Saini</p>
            </div>
            <div class="moreinfo_dev " id="rem_hide2">
               <h5>Email: 19EGJCS092@gitjaipur.com</h5>
            </div>
         </div>
         <div class="dev_card">
            <div class="dev_img">
               <img src="{% static 'images/dummy_profile.jfif' %}" alt="image">
            </div>
            <div class="dev_name">
               <p class="dev_full_name">Divam Gupta</p>
            </div>
            <div class="moreinfo_dev " id="rem_hide4">
               <h5>Email: 19EGJCS081@gitjaipur.com</h5>
            </div>
         </div>
         <div class="dev_card">
            <div class="dev_img">
               <img src="{% static 'images/dummy_profile.jfif' %}" alt="image">
            </div>
            <div class="dev_name">
               <p class="dev_full_name">Dalini Sharma</p>
            </div>
            <div class="moreinfo_dev " id="rem_hide3">
               <h5>Email: 19EGJCS073@gitjaipur.com</h5>
            </div>
         </div>






      </div>
   </div>
   <script>
      console.log('someone')
      function display_hide(id) {
         const block1 = document.getElementById("rem_hide" + id)
         block1.classList.add('rem_hide');
      }

   </script>
</body>

{% endblock content%}